table
{
    color: powderblue;
    text-align: center;
    border-collapse: collapse;
    font: normal 2em arilal ,Helvetica, sans-serif;
    color: whitesmoke;
    border-color: white;
    
}
tr
{
    height: 15vh;
    background-color: solid #4e494d;
    outline-color: white;
    
    
   
}
td
{
    width: 15vh;
    border: 5px;
    background-color: dimgrey;
    border-radius: 70PX;
}
#inputBox
{
    background-color:dimgrey ;
    border-radius: 70PX;
    text-align: end;
    width: 100%;
    height: 5vh;
    font-size: 1.2em;
    color: whitesmoke;
    border: 0px;
}
.digitalButton {
                 background-color: darkslategrey;
                  border-radius: 50px;
                   
                      
               }
.operaterButton
{
    background-color: darkgoldenrod;
     border-radius: 8px;
    border-radius: 70PX;
}
.ACButton
{
    background-color: black;
     border-radius: 70px;
}